<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/users/signup', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/users/tablet/signup_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/users/pc/signup_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<% provide(:btn_text, "ログインする")%>
<% provide(:url, login_path)%>

<div class="main__wrapper login__wrapper" id="user__wrapper">
  <div class="form__wrapper">
    <div class="signup__logo">
      <%= image_tag "widebook_logo.png" %>
    </div>
    <div class="form__ttl">
      <h1>ログイン</h1>
      <p></p>
    </div>
    <div class="user__info__form">
      <%= form_with scope: :session, url: yield(:url), class: "", id: "", local: true do |f| %>
        <div class="input__ttl">
          <i class="fas fa-asterisk"></i>
          <%= f.label :email, "Email" %>
        </div>
        <div class="input__field">
          <%= f.email_field :email, id: "", placeholder: "メールアドレス"%>
        </div>
        <div class="input__ttl">
          <i class="fas fa-asterisk"></i>
          <%= f.label :password, "Password" %>
        </div>
        <div class="input__field">
          <%= f.password_field :password, id: "", placeholder: "パスワード" %>
        </div>
        <div class="input__field">
          <%= f.submit :submit, class: "submit", id: "", value: "ログイン" %>
        </div>
      <% end %>
      <div class="other__form__link">
        <p>まだアカウントをお持ちではありませんか？</p>
        <div class="jump__btn">
          <%= link_to signup_path do %>
            <p>サインイン</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>