<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/password_resets/password_resets', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/password_resets/tablet/password_resets_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/password_resets/pc/password_resets_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<% content_for(:ttl, "パスワードをお忘れの場合")%>
<% content_for(:url, password_reset_path(params[:id]))%>
<% content_for(:top_text, "パスワード再設定用メールの送信")%>
<% content_for(:model_email, @user.email) %>

<div class="main__wrapper ps-reset__wrapper" id="user__wrapper">
  <div class="form__wrapper">
    <%= render 'layouts/user_form_head' %>
    <div class="user__info__form">
      <%= form_with model: @user, url: yield(:url), class: "", id: "", local: true do |f| %>
        <%= hidden_field_tag :email, yield(:model_email) %>

        <div class="input__ttl">
          <i class="fas fa-asterisk"></i>
          <%= f.label :password, "Password" %>
        </div>
        <div class="input__field">
          <%= f.password_field :password, id: "", placeholder: "パスワード" %>
        </div>
        <div class="input__field">
          <%= f.submit :submit, class: "submit", id: "", value: "送信" %>
        </div>
      <% end %>
    </div>
  </div>
</div>