<%# ビジネスモデルのパネルをクリックしたときのページ %>
<%= render 'layouts/header' %>
  <div class="wrapper">
    <div class="main__wrapper">
      <div class="main__view">
        <div class="searchbox__wrapper">
          <form id="search-form" action="" method="post">
            <div class="input__area">
              <input id="" type="search" name="search" placeholder="キーワード">
              <button type="submit" form="search-form" name="">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="main__view__img">
            <div class="bg__img b-type">
              <div class="main__view__cp">
                <h1>グルメ</h1>
                <p>食の聖地、和歌山のグルメスポットをご紹介。</p>
              </div>
            </div>
          </div>
      </div>
      <div class="main__content">
        <div class="content__list" id="category">
          <h1>カテゴリから探す</h1>
          <p></p>
          <div class="move__btn">
            <div class="btn--left">
              <a href="">
                <i class="fas fa-chevron-left"></i>
              </a>
            </div>
            <div class="btn--right">
              <a href="">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <ul class="content__box">
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "cafe1.jpeg"%>
                  </div>
                  <div class="content__cp">
                    <h2>カフェ</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "seafood.jpeg"%>
                  </div>
                  <div class="content__cp">
                    <h2>海鮮料理</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "italian1.jpeg"%>
                  </div>
                  <div class="content__cp">
                    <h2>イタリアン</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag ""%>
                  </div>
                  <div class="content__cp">
                    <h2></h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag ""%>
                  </div>
                  <div class="content__cp">
                    <h2></h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag ""%>
                  </div>
                  <div class="content__cp">
                    <h2></h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
          </ul>
          <div class="detail__btn">
            <a href="" class="detail">
              <span>すべて表示<i></i></span>
            </a>
          </div>
        </div>
        <div class="post__list pick-up" id="">
          <h1>オシャレな雰囲気のレストラン</h1>
          <p></p>
          <div class="move__btn">
            <div class="btn--left">
              <a href="">
                <i class="fas fa-chevron-left"></i>
              </a>
            </div>
            <div class="btn--right">
              <a href="">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <ul class="post__box">
            <a href="">
              <li>
                <div class="post__wrapper">
                  <div class="post__img">
                    <%= image_tag "restaurant1.jpeg" %>
                  </div>
                  <div class="post__info">
                    <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                    <div class="post__info__basic">
                      <div class="post__name">
                        <h2>October sky</h2>
                      </div>
                      <div class="post__about">
                        <div class="post__place">
                          <div class="address">
                            <span></span>
                          </div>
                        </div>
                        <span> / </span>
                        <div class="post__category">
                          <span></span>
                        </div>
                      </div>
                      <div class="post__budget">
                        <span>¥</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="post__wrapper">
                  <div class="post__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="post__info">
                    <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                    <div class="post__info__basic">
                      <div class="post__name">
                        <h2></h2>
                      </div>
                      <div class="post__about">
                        <div class="post__place">
                          <div class="address">
                            <span></span>
                          </div>
                        </div>
                        <span> / </span>
                        <div class="post__category">
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="post__wrapper">
                  <div class="post__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="post__info">
                    <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                    <div class="post__info__basic">
                      <div class="post__name">
                        <h2></h2>
                      </div>
                      <div class="post__about">
                        <div class="post__place">
                          <div class="address">
                            <span></span>
                          </div>
                        </div>
                        <span> / </span>
                        <div class="post__category">
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="post__wrapper">
                  <div class="post__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="post__info">
                    <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                    <div class="post__info__basic">
                      <div class="post__name">
                        <h2></h2>
                      </div>
                      <div class="post__about">
                        <div class="post__place">
                          <div class="address">
                            <span></span>
                          </div>
                        </div>
                        <span> / </span>
                        <div class="post__category">
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="post__wrapper">
                  <div class="post__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="post__info">
                    <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                    <div class="post__info__basic">
                      <div class="post__name">
                        <h2></h2>
                      </div>
                      <div class="post__about">
                        <div class="post__place">
                          <div class="address">
                            <span></span>
                          </div>
                        </div>
                        <span> / </span>
                        <div class="post__category">
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </a>
          </ul>
          <div class="detail__btn">
            <a href="" class="detail">
              <span>すべて表示<i></i></span>
            </a>
          </div>
        </div>
        <div class="post__list" id="">
          <h1>Caming soon</h1>
          <p></p>
          <div class="move__btn">
            <div class="btn--left">
              <a href="">
                <i class="fas fa-chevron-left"></i>
              </a>
            </div>
            <div class="btn--right">
              <a href="">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <ul class="post__box">
            <a href="">
              <li>
                <div class="post__wrapper">
                  <div class="post__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="post__info">
                    <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                    <div class="post__info__basic">
                      <div class="post__name">
                        <h2></h2>
                      </div>
                      <div class="post__about">
                        <div class="post__place">
                          <div class="address">
                            <span></span>
                          </div>
                        </div>
                        <span> / </span>
                        <div class="post__category">
                          <span></span>
                        </div>
                      </div>
                      <div class="post__budget">
                        <span>¥</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </a>
          </ul>
          <div class="detail__btn">
            <a href="" class="detail">
              <span>すべて表示<i></i></span>
            </a>
          </div>
        </div>
        <div class="post__list" id="">
          <h1>Caming soon</h1>
          <p></p>
          <div class="move__btn">
            <div class="btn--left">
              <a href="">
                <i class="fas fa-chevron-left"></i>
              </a>
            </div>
            <div class="btn--right">
              <a href="">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <ul class="post__box">
            <a href="">
              <li>
                <div class="post__wrapper">
                  <div class="post__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="post__info">
                    <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                    <div class="post__info__basic">
                      <div class="post__name">
                        <h2></h2>
                      </div>
                      <div class="post__about">
                        <div class="post__place">
                          <div class="address">
                            <span></span>
                          </div>
                        </div>
                        <span> / </span>
                        <div class="post__category">
                          <span></span>
                        </div>
                      </div>
                      <div class="post__budget">
                        <span>¥</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </a>
          </ul>
          <div class="detail__btn">
            <a href="" class="detail">
              <span>すべて表示<i></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render 'layouts/footer' %>
