<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/shops/index_admin', media: "screen and (max-width: 559px)" %>
<% end %>

<div class="wrapper">
  <div class="main__wrapper">
    <div class="shop__data">
      <ul class="shops">
        <% @shops.each do |shop|%>
          <li id="shops-<% shop.id %>">
            <%= link_to shop.name, shop_path(shop) %>
            <span><%= shop.address %></span>
             <% if current_user.admin? && current_user?(shop.user) %>
              <%= link_to "お店を編集", edit_shop_path(shop), method: :get %>
              <%= link_to "お店を削除", shop, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>