<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/shops/index', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/shops/tablet/index_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/shops/pc/index_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<%= render 'layouts/header' %>
<div class="main__wrapper">
  <div class="page__index">
  </div>
  <div class="shop__data">
    <ul class="shop__box">
    <% @shops.each do |dtl| %>
      <%= link_to shop_path(dtl.shop.id) do %>
        <li>
          <div class="shop__wrapper">
            <div class="shop__img">
              <% if dtl.shop.images.first.present? %>
                <%= image_tag dtl.shop.images.first.image.url %>
              <% else %>
                <%= image_tag "wait.jpeg" %>
              <% end %>
            </div>
            <div class="shop__info">
              <div class="shop__info__deco">
                <div class="shop__review">
                  <i class="fas fa-star"></i>
                  <span></span>
                </div>
                <div class="shop__tag">
                  <i class=""></i>
                  <span></span>
                </div>
              </div>
              <div class="shop__info__basic">
                <div class="shop__name">
                  <h2><%= dtl.shop.name %></h2>
                </div>
                <div class="shop__about">
                  <div class="shop__place">
                    <div class="address">
                      <span><%= dtl.shop.address %></span>
                    </div>
                  </div>
                </div>
                <div class="shop__budget">
                  <i class="fas fa-yen-sign"></i>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>