<% content_for(:css) do %>
  <%= stylesheet_link_tag '/assets/shops/index', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/shops/pc/index_pc', media: "screen and (min-width: 960px)" %>
  <%= stylesheet_link_tag '/assets/shops/tablet/index_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
<% end %>

<body>
  <%= render 'layouts/header' %>
  <div class="wrapper">
    <div class="main__wrapper">
      <div class="main__view">
        <div class="searchbox__wrapper">
          <form id="search-form" action="" method="post">
            <div class="input__area">
              <input id="" type="search" name="search" placeholder="キーワード">
              <button type="submit" form="search-form" name="">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="main__view__img">
          <div class="bg__img">
            <div class="main__view__cp">
              <h1>身近にある、素敵なひととき</h1>
              <p>近場で新しい体験を探してみましょう！</p>
            </div>
            <div class="place__btn">
              <a href="#">
                <span>現在地から探す</span> 
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="main__content">
        <div class="content__list" id="b-type">
          <h1>目的から探す</h1>
          <div class="move__btn">
            <div class="btn--left">
              <a href="">
                <i class="fas fa-chevron-left"></i>
              </a>
            </div>
            <div class="btn--right">
              <a href="">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <a href=""><i></i></a>
          <ul class="content__box">
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "gurume.jpeg"%>
                  </div>
                  <div class="content__cp">
                    <h2>グルメ</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "shopping.jpeg" %>
                  </div>
                  <div class="content__cp">
                    <h2>ショッピング</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "stayhome.jpeg" %>
                  </div>
                  <div class="content__cp">
                    <h2>ホテル・宿泊</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "ocean-view.jpeg" %>
                  </div>
                  <div class="content__cp">
                    <h2>観光・インスタ映え</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "event2.jpeg" %>
                  </div>
                  <div class="content__cp">
                    <h2>イベント</h2>
                    <p>うぇいうぇい！</p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="content__cp">
                    <h1></h1>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
          </ul>
        </div>
        <div class="content__list" id="area">
          <h1>エリアから探す</h1>
          <p>範囲を絞って検索できます！</p>
          <div class="move__btn">
            <div class="btn--left">
              <a href="">
                <i class="fas fa-chevron-left"></i>
              </a>
            </div>
            <div class="btn--right">
              <a href="">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <a href=""><i></i></a>
          <ul class="content__box">
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "/assets/instagram1.jpeg" %>
                  </div>
                  <div class="content__cp">
                    <h2>金沢市</h2>
                    <p>金沢市付近のガイドブック</p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "/assets/bg_image1" %>
                  </div>
                  <div class="content__cp">
                    <h2>長野市</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "/assets/bg_image2" %>
                  </div>
                  <div class="content__cp">
                    <h2>松本市</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "/assets/bg_image3" %>
                  </div>
                  <div class="content__cp">
                    <h2>中野市</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "/assets/bg_image4" %>
                  </div>
                  <div class="content__cp">
                    <h2>佐久市</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "/assets/bg_image" %>
                  </div>
                  <div class="content__cp">
                    <h2>飯田市</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
          </ul>
          <div class="detail__btn">
            <a href="">
              <span>他のエリアから探す<i></i></span>
            </a>
          </div>
        </div>
        <div class="content__list" id="special">
          <h1>特集</h1>
          <p>ガイドブックならではの特集を皆様にお届けします！</p>
          <div class="move__btn">
            <div class="btn--left">
              <a href="">
                <i class="fas fa-chevron-left"></i>
              </a>
            </div>
            <div class="btn--right">
              <a href="">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <ul class="content__box">
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "christmas-market.jpeg" %>
                  </div>
                  <div class="content__cp">
                    <h2>冬の代名詞</h2>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "ramen.jpeg" %>
                  </div>
                  <div class="content__cp">
                    <h2>最近キテるラーメン屋さん特集</h2>
                    <p>ラーメンと言えば、秒速4.5cmで麺が伸びますが、今回は麺が伸びるスピードよりも早く人気が伸びているラーメン屋さんをご紹介します！</p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="content__cp">
                    <h1></h1>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="content__cp">
                    <h1></h1>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="content__cp">
                    <h1></h1>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
            <a href="">
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="content__cp">
                    <h1></h1>
                    <p></p>
                  </div>
                </div>
              </li>
            </a>
          </ul>
          <div class="detail__btn">
            <a href="">
              <span>すべて表示<i></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>