<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/shops/show', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/shops/tablet/show_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/shops/pc/show_pc', media: "screen and (min-width: 960px)" %>
<% end %>




<%= render 'layouts/header' %>
<div class="wrapper">
  <div class="main__wrapper shop__page__wrapper">
    <div class="shop__view">
      <div class="shop__img__list">
        <div class="main__img">
          <div class="shop__img no-1">
            <%= link_to image_path do %>
              <% if @shop.images.first.present? %>
                <%= image_tag @shop.images.first.image.url %>
              <% else %>
                <%= image_tag "wait.jpeg" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="sub__img">
          <ul class="img__list">
            <li>
              <div class="shop__img no-2">
                <%= link_to image_path do %>
                  <% if @shop.images[1].present? %>
                    <%= image_tag @shop.images[1].image.url %>
                  <% else %>
                    <%= image_tag "wait.jpeg" %>
                  <% end %>
                <% end %>
              </div>
            </li>
            <li>
              <div class="shop__img no-3">
                <%= link_to image_path do %>
                  <% if @shop.images[2].present? %>
                    <%= image_tag @shop.images[2].image.url %>
                  <% else %>
                    <%= image_tag "wait.jpeg" %>
                  <% end %>
                <% end %>
              </div>
            </li>
            <li>
              <div class="shop__img no-4">
                <%= link_to image_path do %>
                  <% if @shop.images[3].present? %>
                    <%= image_tag @shop.images[3].image.url %>
                  <% else %>
                    <%= image_tag "wait.jpeg" %>
                  <% end %>
                <% end %>
              </div>
            </li>
            <li>
              <div class="shop__img no-5">
                <%= link_to image_path do %>
                  <% if @shop.images[4].present? %>
                    <%= image_tag @shop.images[4].image.url %>
                  <% else %>
                    <%= image_tag "wait.jpeg" %>
                  <% end %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="shop__event">
        <div class="share__btn">
          <%= link_to root_path do %>
            <div class="share__icon">
              <i class="fas fa-upload"></i>
              <span>シェアする</span>
            </div>
          <% end %>
        </div>
        <div class="like__btn">
        <% unless @shop.bookmarked_by?(current_user) %>
          <%= link_to shop_bookmarks_path(@shop.id), method: :post, remote: true do %>
            <div class="like__icon">
              <i class="far fa-heart"></i>
              <span>お気に入り</span>
            </div>
          <% end %>
        <% else %>
          <%= link_to shop_bookmarks_path(@shop.id), method: :delete, remote: true do %>
            <div class="like__icon">
              <i class="fas fa-heart"></i>
              <span>お気に入り</span>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="detail__btn img__more">
        <%= link_to image_path, class:"detail" do %>
          <span>すべての写真を表示<i></i></span>
        <% end %>
      </div>
      <div class="img__move__btn">
        <a href="">
          <li></li>
        </a>
        <a href="">
          <li></li>
        </a>
        <a href="">
          <li></li>
        </a>
      </div>
    </div>
    <div class="shop__info main">
      <div class="shop__info__head">
        <div class="shop__info__profile">
          <div class="shop__about">
            <div class="shop__review">
              <i class="fas fa-star"></i>
              <span><%= @avg %></span>
            </div>
            <% @categories.each do |c| %>
            <div class="shop__tag">
              <i class="fas fa-hashtag"></i>
              <span><%= c.category.name %></span>
            </div>
            <% end %>
          </div>
          <div class="shop__name">
            <h2><%= @shop.name %></h2>
          </div>
          <div class="shop__ggrmap">
            <div class="ggrmap__link">
              <%= link_to search_path(@shop.id) do %>
                <div class="map"></div>
              <% end %>
            </div>
            <div class="shop__action">
            <% if current_user.present? %>
              <% if current_user.admin? && current_user?(@shop.user) %>
                <%= link_to "お店を編集", edit_shop_path(@shop), method: :get %>
                <%= link_to "お店を削除", @shop, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
              <% end %>
            <% end%>
            </div>
          </div>
          <div class="shop__address">
            <div class="shop__address__ttl">
              <i class="fas fa-map-marker-alt"></i>
              <p>住所:</p>
            </div>
            <%= link_to search_path(@shop.id) do %>
              <div class="shop__address__import">
                <span><%= @shop.address %></span>
              </div>
            <% end %>
          </div>
          <div class="shop__hours">
            <div class="shop__hours__ttl">
              <i class="far fa-clock"></i>
              <p>営業時間:</p>
            </div>
            <div class="shop__hours__import">
              <span><%= @shop.b_hours_first %> ~ <%= @shop.b_hours_last%></span>
              <span></span>
            </div>
          </div>
          <div class="shop__budget">
            <div class="shop__budget__ttl">
              <i class="fas fa-yen-sign"></i>
              <p></p>
            </div>
            <div class="shop__budget__import">
              <span><%= @shop.budget %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shop__info sub">
      <div class="shop__info__body">
        <div class="shop__info__summary">
          <h2>詳細情報</h2>
          <div class="summary__list">
            <ul class="table">
              <li>
                <div class="table__force name">
                  <div class="table__ttl">
                    <i class="fas fa-signature"></i>
                    <p>名前</p>
                  </div>
                  <div class="table__import">
                    <span><%= @shop.name %></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="table__force category">
                  <div class="table__ttl">
                    <i class="fas fa-tag"></i>
                    <p>カテゴリ</p>
                  </div>
                  <div class="table__import">
                  <% @categories.each do |c| %>
                    <span><%= c.category.name %></span>
                  <% end %>
                  </div>
                </div>
              </li>
              <li>
                <div class="table__force phone">
                  <div class="table__ttl">
                    <i class="fas fa-phone"></i>
                    <p>電話番号</p>
                  </div>
                  <div class="table__import">
                    <span><%= @shop.phone_number %></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="table__force address">
                  <div class="table__ttl">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>場所</p>
                  </div>
                  <div class="table__import">
                    <span><%= @shop.address %></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="table__force booking">
                  <div class="table__ttl">
                    <i class="fas fa-book"></i>
                    <p>予約可否</p>
                  </div>
                  <div class="table__import">
                    <% if @shop.booking == true %>
                      <span>予約可能</span>
                    <% else %>
                      <span>予約不可</span>
                    <% end %>
                  </div>
                </div>
              </li>
              <li>
                <div class="table__force budget">
                  <div class="table__ttl">
                    <i class="fas fa-yen-sign"></i>
                    <p>予算感</p>
                  </div>
                  <div class="table__import">
                    <span>￥<%= @shop.budget %></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="table__force time">
                  <div class="table__ttl">
                    <i class="far fa-clock"></i>
                    <p>営業時間</p>
                  </div>
                  <div class="table__import">
                    <div class="time-info">
                      <h4>営業時間 : </h4>
                      <span><%= @shop.b_hours_first %> ~ <%= @shop.b_hours_last%></span>
                    </div>
                    <div class="rest-info">
                      <h4>定休日 : </h4>
                      <span><%= @shop.holidays %></span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="table__force payment">
                  <div class="table__ttl">
                    <i class="far fa-credit-card"></i>
                    <p>支払い方法</p>
                  </div>
                  <div class="table__import">
                    <div class="credit">
                      <p>クレジットカード</p>
                    <% if @shop.pay_cards.present? %>
                      <span>可能</span>
                    <% else %>
                      <span>不可能</span>
                    <% end %>
                    </div>
                    <ul class="card__list">
                    <% @shop.pay_cards.each do |card| %>
                      <li><%= card.name %></li>
                    <% end %>
                    </ul>
                    <div class="ele-pay">
                      <p></p>
                      <span></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="shop__info__usp">
          <div class="shop__cp">
            <div class="shop__ttl">
              <h1>個室あり リーズナブルな価格で楽しめるモダンなイタリアンレストラン</h1>
              <p>この世には、二種類の男しかいない。俺か、俺以外か。</p>
            </div>
            <div class="shop__read">
              <p></p>
              <p></p>
            </div>
          </div>
          <div class="detail__btn shop__more">
            <%= link_to root_path, class:"detail" do %>
              <span>すべて表示<i></i></span>
            <% end %>
          </div>
        </div>
        <div class="shop__info__amenity">
          <h2></h2>
          <div class="amenity__detail">
            <div class="amenity__list">
              <p></p>
              <i></i>
            </div>
            <div class="amenity__list">
              <p></p>
              <i></i>
            </div>
            <div class="amenity__list">
              <p></p>
              <i></i>
            </div>
          </div>
          <div class="detail__btn shop__more">
            <%= link_to root_path, class:"detail" do %>
              <span>すべて表示<i></i></span>
            <% end %>
          </div>
        </div>
        <div class="shop__info__sns">
          <h1>お店の関連情報</h1>
          <div class="sns__link">
            <div class="sns__link__ttl">
              <i class="fas fa-home"></i>
              <p>ホームページ</p>
            </div>
            <div class="sns__link__import">
              <div class="home__page sns">
              <% if @shop.mediums.first.home_page.present? %>
                <%= link_to @shop.mediums.first.home_page, target: :_blank do %>
                  <span>
                    <%= @shop.mediums.first.home_page %>
                  </span>
                <% end %>
              <% else %>
                <span></span>
              <% end %>
              </div>
            </div>
          </div>
          <div class="sns__link">
            <div class="sns__link__ttl">
              <i class="fas fa-share-alt"></i>
              <p>SNS</p>
            </div>
            <div class="sns__link__import">
              <div class="facebook sns">
              <% if @shop.mediums.first.facebook.present? %>
                <%= link_to @shop.mediums.first.facebook, target: :_blank do %>
                  <i class="fab fa-facebook-square"></i>
                  <span>
                    <%= @shop.mediums.first.facebook %>
                  </span>
                <% end %>
              <% else %>
                <span></span>
              <% end %>
              </div>
              <div class="instagram sns">
              <% if @shop.mediums.first.instagram.present? %>
                <%= link_to @shop.mediums.first.instagram, target: :_blank do %>
                  <i class="fab fa-instagram"></i>
                  <span>
                    <%= @shop.mediums.first.instagram %>
                  </span>
                <% end %>
              <% else %>
                <span></span>
              <% end %>
              </div>
              <div class="twitter sns">
              <% if @shop.mediums.first.twitter.present? %>
                <%= link_to @shop.mediums.first.twitter, target: :_blank do %>
                  <i class="fab fa-twitter"></i>
                  <span>
                    <%= @shop.mediums.first.twitter %>
                  </span>
                <% end %>
              <% else %>
                <span></span>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="review__box">
      <% if @reviews.present? %>
        <div class="review__count">
          <i class="fas fa-star"></i>
          <span class="star__rate"><%= @avg %></span>
          <span><%= @reviews.count %>件のレビュー</span>
        </div>
        <div class="review__list">
          <ul>
          <% @reviews.each do |review| %>
            <li>
              <div class="review__wrapper">
                <div class="review__header">
                  <div class="user__profile">
                    <div class="user__profile__left">
                      <div class="user__img">
                      <% if review.user.image? %>
                        <%= image_tag review.user.image.url %>
                      <% else %>
                        <%= image_tag "/assets/user_icon.jpg"%>
                      <% end %>
                      </div>
                    </div>
                    <div class="user__profile__right">
                      <div class="user__name">
                        <h4><%= review.user.name %></h4>
                      </div>
                      <div class="review__date">
                        <p><%= review.created_at.strftime("%Y年%m月%d日") %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="review__contents">
                  <div class="review__cp">
                    <p><%= review.title %></p>
                  </div>
                  <div class="review__txt">
                    <p><%= review.content.truncate(140) %></p>
                  </div>
                  <div class="more__btn">
                    <a href=""><span>続きを読む</span></a>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="detail__btn rev__more">
          <%= link_to shop_reviews_path(@shop.id) ,class: "detail" do %>
            <span>レビューをすべて表示</span>
          <% end %>
        </div>
      <% else %>
        <%= render 'no_review' %>
      <% end %>
      </div>
      <div class="shop__other__info">
        <h1>その他の基本情報</h1>
        <div class="">
          <p></p>
          <p></p>
        </div>
      </div>
      <div class="ggrmap__wrapper">
        <h1>マップ</h1>
        <p><%= @shop.address %> <%= @shop.address_building %></p>
        <div class="ggrmap" id="js-map">
        </div>
      </div>
      <div class="other__list near-event" id="">
        <h1>近くのスポット</h1>
        <p></p>
        <%= render 'layouts/move_btn' %>
        <ul class="post__box">
          <a href="">
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag "" %>
                </div>
                <div class="post__info">
                  <div class="post__info__deco">
                    <div class="post__review">
                      <i class="fas fa-star"></i>
                      <span></span>
                    </div>
                    <div class="post__tag">
                      <i class=""></i>
                      <span></span>
                    </div>
                    <div class="post__tag">
                      <i class=""></i>
                      <span></span>
                    </div>
                  </div>
                  <div class="post__info__basic">
                    <div class="post__name">
                      <h2></h2>
                    </div>
                    <div class="post__about">
                      <div class="post__place">
                        <div class="address">
                          <span></span>
                        </div>
                      </div>
                    </div>
                    <div class="post__budget">
                      <i class="fas fa-yen-sign"></i>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </a>
        </ul>
        <div class="detail__btn shop__more">
          <%= link_to root_path, class:"detail" do %>
            <span>すべて表示<i></i></span>
          <% end %>
        </div>
      </div>
      <div class="other__list" id="">
        <h1></h1>
        <p></p>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>

<script type="text/javascript">
(() => {
  const initMap = () => {
    // InvalidValueError: initMap is not a functionの対応
    window.onload = function () {
      initMap();
    };
    // latitude,longitudeから位置を特定
    let place = { lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %> };
    let map = new google.maps.Map(document.getElementById('js-map'), {
              zoom: 14, 
              // center: {lat: 35.18, lng: 136.906}
              center: place
              });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
  
    let contentString = '住所：<%= @shop.address %>';
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });
  
    // Map上の指定した位置にピンを挿して表示する
    let marker = new google.maps.Marker({
                  // position: {lat: 35.18, lng: 136.906},
                  position: place,
                  map: map,
                  title: contentString
                  });
  
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
  };
  initMap();
})();
</script>
