<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/shops/index', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/shops/tablet/index_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/shops/pc/index_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<% content_for(:ttl, "登録したお店一覧")%>
<% content_for(:pg_hd, "登録したお店一覧")%>

<%= render 'layouts/header' %>
<div class="main__wrapper">
  <div class="page__hd">
    <h2><%= yield(:pg_hd) %></h2>
  </div>
  <div class="shop__data">
  <% if @shops.present? %>
    <ul class="shop__box">
    <% @shops.each do |shop| %>
      <%= link_to shop_path(shop.id) do %>
        <li>
          <div class="shop__wrapper">
            <div class="shop__img">
              <% if shop.images.first.present? %>
                <%= image_tag shop.images.first.image.url %>
              <% else %>
                <%= image_tag "wait.jpeg" %>
              <% end %>
            </div>
            <div class="shop__info">
              <div class="shop__info__deco">
                <div class="shop__review">
                  <i class="fas fa-star"></i>
                  <span><%= shop.reviews.average(:score) %></span>
                </div>
                <div class="shop__tag">
                  <i class="fas fa-tag"></i>
                  <span><%= shop.categories.first.name %></span>
                </div>
              </div>
              <div class="shop__info__basic">
                <div class="shop__name">
                  <h3><%= shop.name %></h3>
                </div>
                <div class="shop__about">
                  <div class="shop__place">
                    <div class="address">
                      <span><%= shop.address %></span>
                    </div>
                  </div>
                </div>
                <div class="shop__budget">
                  <i class="fas fa-yen-sign"></i>
                  <span><%= shop.budget %></span>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
    <div class="detail__btn result__more">
      <%= paginate @shops %>
    </div>
  <% else %>
    <%= render 'shops/no_content' %>
  <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>


