<%= form_with model: @user, url: yield(:url), class: "", id: "", local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="input__ttl">
    <i class="fas fa-asterisk"></i>
    <%= f.label :name, "Name"%>
  </div>
  <%= f.text_field :name, id: "", placeholder: "ニックネーム"%>
  <div class="input__ttl">
    <i class="fas fa-asterisk"></i>
    <%= f.label :email, "Email" %>
  </div>
  <%= f.email_field :email, id: "", placeholder: "メールアドレス"%>
  <div class="input__ttl">
    <i class="fas fa-asterisk"></i>
    <%= f.label :password, "Password" %>
  </div>
  <%= f.password_field :password, id: "", placeholder: "パスワード" %>
  <div class="input__ttl">
    <i class="fas fa-asterisk"></i>
    <%= f.label :image, "Image" %>
  </div>
  <%= f.file_field :image, id: "", placeholder: "Image" %>
  <%= f.submit :submit, class: "submit", id: "", value: "#{yield(:btn_text)}" %>
<% end %>