<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/users/signup', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/users/tablet/signup_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/users/pc/signup_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<% provide(:btn_text, "更新する")%>
<% provide(:url, user_path)%>

<%= render 'layouts/header' %>
<div class="main__wrapper">
  <div class="form__wrapper">
    <div class="signup__logo">
      <%= image_tag "apple_logo.jpeg" %>
    </div>
    <div class="form__ttl">
      <h1>プロフィール編集</h1>
      <p></p>
    </div>
    <div class="user__info__form">
      <%= render 'layouts/form' %>
    </div>
  </div>
</div>
