<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/users/signup', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/users/tablet/signup_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/users/pc/signup_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<% provide(:ttl, "新規登録")%>
<% provide(:btn_text, "登録する")%>
<% provide(:top_text, "サインイン")%>
<% provide(:url, signup_path)%>


<div class="main__wrapper signup__wrapper" id="user__wrapper">
  <div class="form__wrapper">
    <%= render 'layouts/user_form_head' %>
    <div class="user__info__form">
      <%= render 'layouts/user_form' %>
      <div class="announce">
        <i class="fas fa-exclamation-circle"></i>
        <p>アカウントを作成すると、
          <a href="/rule">利用規約</a>・<a href="/privacy">プライバシーポリシー</a>
          に同意したとみなされます。
        </p>
      </div>
      <div class="other__form__link">
        <p>すでにアカウントをお持ちですか？</p>
        <div class="jump__btn">
          <%= link_to login_path(agent: 'user') do %>
            <p>ログイン</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
