<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/users/show', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/users/tablet/show_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/users/pc/show_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<%= render 'layouts/header' %>
<div class="wrapper">
  <div class="main__wrapper user__mypg">
    <div class="mypg__ttl">
      <h3>プロフィール</h3>
    </div>
    <div class="user__hd">
      <div class="user__img">
        <% if @user.image? %>
        <%= link_to image_tag( @user.image.url, class: ""), user_path(@user.id) %>
        <% else %>
        <%= link_to image_tag("/assets/user_icon.jpeg", class: ""), user_path(@user.id) %>
        <% end %>
      </div>
      <div class="user__info">
        <div class="user__name">
          <p><%= @user.name %></p>
          <span><%= @user.email %></span>
        </div>
        <div class="profile__link">
          <% if current_user.admin? && !current_user?(@user) %>
            <%= link_to "Delete", @user, method: :delete, data: { confirm: "削除してもよろしいですか？" } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="user__body">
      <div class="nav__list">
        <div class="body__ttl">
          <h3>アカウントの設定</h3>
        </div>
        <div class="menu__view">
          <ul>
            <%= link_to edit_user_path(@user) do %>
              <li>
                <div class="info__wrapper">
                  <div class="info__index">
                    <h3>プロフィールを編集</h3>
                  </div>
                  <div class="info__link">
                    <div class="info__mark">
                      <i class="fas fa-user-edit"></i>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
            <%= link_to  user_bookmarks_path(@user) do %>
              <li>
                <div class="info__wrapper">
                  <div class="info__index">
                    <h3>お気にいりしたお店</h3>
                  </div>
                  <div class="info__link">
                    <div class="info__mark">
                      <i class="far fa-heart"></i>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
            <%= link_to user_reviews_path(@user.id) do %>
              <li>
                <div class="info__wrapper">
                  <div class="info__index">
                    <h3>レビュー一覧</h3>
                  </div>
                  <div class="info__link">
                    <div class="info__mark">
                      <i class="far fa-comment-dots"></i>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          <% if @user.admin? && current_user?(@user) %>
            <%= link_to new_shop_path do %>
              <li>
                <div class="info__wrapper">
                  <div class="info__index">
                    <h3>お店を投稿する</h3>
                  </div>
                  <div class="info__link">
                    <div class="info__mark">
                      <i class="fas fa-folder-plus"></i>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
            <%= link_to root_path do %>
              <li>
                <div class="info__wrapper">
                  <div class="info__index">
                    <h3>登録店リスト</h3>
                  </div>
                  <div class="info__link">
                    <div class="info__mark">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="user__ft">
      <div class="ft__ttl">
        <h3>その他</h3>
      </div>
      <div class="user__ft__nav">
        <div class="user__rule">
          <%= link_to root_path do %>
            <div class="rule__index">
              <h3>利用規約</h3>
            </div>
            <div class="rule__link">
              <div class="rule__mark">
                <i class="fas fa-exclamation-circle"></i>
              </div>
            </div>
          <% end %>
        </div>
        <div class="logout__btn">
          <%= link_to logout_path, method: :delete do %>
            <div class="logout__index">
              <h3>ログアウト</h3>
            </div>
            <div class="logout__link">
              <div class="logout__mark">
                <i class="fas fa-sign-out-alt"></i>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>

