<%# ビジネスモデルのパネルをクリックしたときのページ %>
<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/bussiness_types/show', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/bussiness_types/tablet/show_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/bussiness_types/pc/show_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<% provide(:text, "カテゴリから探す")%>

<%= render 'layouts/header' %>
<div class="main__wrapper" id="top__face">
  <div class="main__view">
    <div class="searchbox__wrapper">
      <form id="search-form" action="" method="post">
        <div class="input__area">
          <input id="" type="search" name="search" placeholder="キーワード">
          <button type="submit" form="search-form" name="">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="main__view__img">
      <div class="bg__img b-type">
        <style media="screen">
          .bg__img { background-image: url(<%= @b_type.image %>); }
        </style>
        <div class="main__view__cp">
          <h1><%= @b_type.name %></h1>
          <p>和歌山の<%= @b_type.name %>をご紹介。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="main__content">
    <%= render 'layouts/content_box' %>
    <div class="shop__list pick-up" id="">
      <h1>登録店一覧</h1>
      <p></p>
      <%= render 'layouts/move_btn' %>
      <ul class="shop__box">
      <% @ex_shops.each do |shop| %>
        <%= link_to shop_path(shop.id) do %>
          <li>
            <div class="shop__wrapper">
              <div class="shop__img">
                <% if shop.images.first.present? %>
                  <%= image_tag shop.images.first.image.url %>
                <% else %>
                  <%= image_tag "wait.jpeg" %>
                <% end %>
              </div>
              <div class="shop__info">
                <div class="shop__info__deco">
                    <div class="shop__review">
                      <i class="fas fa-star"></i>
                      <span><%= shop.reviews.average(:score) %></span>
                    </div>
                    <div class="shop__tag">
                      <i class=""></i>
                      <span></span>
                    </div>
                  </div>
                <div class="shop__info__basic">
                  <div class="shop__name">
                    <h2><%= shop.name %></h2>
                  </div>
                  <div class="shop__about">
                    <div class="shop__place">
                      <div class="address">
                        <span><%= shop.address %></span>
                      </div>
                    </div>
                  </div>
                  <div class="shop__budget">
                    <span>¥</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
      </ul>
      <div class="detail__btn shop__more">
        <%= link_to root_path, class:"detail" do %>
          <span>すべて表示<i></i></span>
        <% end %>
      </div>
    </div>
    <div class="shop__list" id="">
      <h1>Caming soon</h1>
      <p></p>
      <div class="move__btn">
        <div class="btn--left">
          <a href="">
            <i class="fas fa-chevron-left"></i>
          </a>
        </div>
        <div class="btn--right">
          <a href="">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <ul class="shop__box">
        <a href="">
          <li>
            <div class="shop__wrapper">
              <div class="shop__img">
                <%= image_tag "" %>
              </div>
              <div class="shop__info">
                <div class="shop__info__deco">
                  <div class="shop__review">
                    <i class="fas fa-star"></i>
                    <span></span>
                  </div>
                  <div class="shop__tag">
                    <i class=""></i>
                    <span></span>
                  </div>
                </div>
                <div class="shop__info__basic">
                  <div class="shop__name">
                    <h2></h2>
                  </div>
                  <div class="shop__about">
                    <div class="shop__place">
                      <div class="address">
                        <span></span>
                      </div>
                    </div>
                  </div>
                  <div class="shop__budget">
                    <i class="fas fa-yen-sign"></i>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </a>
      </ul>
      <div class="detail__btn shop__more">
        <%= link_to root_path, class:"detail" do %>
          <span>すべて表示<i></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
