<%# ビジネスモデルのパネルをクリックしたときのページ %>
<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/bussiness_types/show', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/bussiness_types/tablet/show_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/bussiness_types/pc/show_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<%= render 'layouts/header' %>
  <div class="wrapper">
    <div class="main__wrapper">
      <div class="main__view">
        <div class="searchbox__wrapper">
          <form id="search-form" action="" method="post">
            <div class="input__area">
              <input id="" type="search" name="search" placeholder="キーワード">
              <button type="submit" form="search-form" name="">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="main__view__img">
          <div class="bg__img b-type">
            <div class="main__view__cp">
              <h1><%= @b_type.name %></h1>
              <p>食の聖地、和歌山のグルメスポットをご紹介。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="main__content">
        <div class="content__list" id="category">
          <h1>カテゴリから探す</h1>
          <p></p>
          <div class="move__btn">
            <div class="btn--left">
              <a href="">
                <i class="fas fa-chevron-left"></i>
              </a>
            </div>
            <div class="btn--right">
              <a href="">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <ul class="content__box">
          <% @categories.each do |category| %>
            <%= link_to category_path(category.id) do %>
              <li>
                <div class="content__wrapper">
                  <div class="content__img">
                    <%# <%= image_tag category.image.url %> %>
                  </div>
                  <div class="content__cp">
                    <h2><%= category.name %></h2>
                    <p></p>
                  </div>
                </div>
              </li>
            <%end%>
          <%end%>
          </ul>
          <div class="detail__btn cate__more">
            <%= link_to root_path, class:"detail" do %>
              <span>すべて表示<i></i></span>
            <% end %>
          </div>
        </div>
        <div class="shop__list pick-up" id="">
          <h1>オシャレな雰囲気のレストラン</h1>
          <p></p>
          <div class="move__btn">
            <div class="btn--left">
              <a href="">
                <i class="fas fa-chevron-left"></i>
              </a>
            </div>
            <div class="btn--right">
              <a href="">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <ul class="shop__box">
            <%= link_to root_path do %>
              <li>
                <div class="shop__wrapper">
                  <div class="shop__img">
                    <%= image_tag "restaurant1.jpeg" %>
                  </div>
                  <div class="shop__info">
                    <div class="shop__info__deco">
                        <div class="shop__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="shop__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                    <div class="shop__info__basic">
                      <div class="shop__name">
                        <h2>October sky</h2>
                      </div>
                      <div class=shopt__about">
                        <div class="shop__place">
                          <div class="address">
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="shop__budget">
                        <span>¥</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <div class="detail__btn shop__more">
            <%= link_to shops_path, class:"detail" do %>
              <span>すべて表示<i></i></span>
            <% end %>
          </div>
        </div>
        <div class="shop__list" id="">
          <h1>Caming soon</h1>
          <p></p>
          <div class="move__btn">
            <div class="btn--left">
              <a href="">
                <i class="fas fa-chevron-left"></i>
              </a>
            </div>
            <div class="btn--right">
              <a href="">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <ul class="shop__box">
            <a href="">
              <li>
                <div class="shop__wrapper">
                  <div class="shop__img">
                    <%= image_tag "" %>
                  </div>
                  <div class="shop__info">
                    <div class="shop__info__deco">
                      <div class="shop__review">
                        <i class="fas fa-star"></i>
                        <span></span>
                      </div>
                      <div class="shop__tag">
                        <i class=""></i>
                        <span></span>
                      </div>
                    </div>
                    <div class="shop__info__basic">
                      <div class="shop__name">
                        <h2></h2>
                      </div>
                      <div class="shop__about">
                        <div class="shop__place">
                          <div class="address">
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="shop__budget">
                        <i class="fas fa-yen-sign"></i>
                        <span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </a>
          </ul>
          <div class="detail__btn shop__more">
            <%= link_to shops_path, class:"detail" do %>
              <span>すべて表示<i></i></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render 'layouts/footer' %>
