<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/homes/index', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/home/tablet/index_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/home/pc/index_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<% provide(:text, "カテゴリから探す")%>
<% provide(:ttl, "ホーム")%>

<body>
  <%= render 'layouts/header' %>
  <div class="main__wrapper" id="top__face">
    <div class="main__view">
      <div class="searchbox__wrapper">
        <form id="search-form" action="" method="post">
          <div class="input__area">
            <input id="" type="search" name="search" placeholder="キーワード">
            <button type="submit" form="search-form" name="">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="main__view__img">
        <div class="bg__img index">
          <div class="main__view__cp">
            <h1>和歌山で味わう、非日常のご案内</h1>
            <p>ここにしかない、グルメを検索してみましょう。</p>
          </div>
          <div class="place__btn">
            <%= link_to areas_path do %>
              <span>現在地から探す</span> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main__content">
      <div class="content__list common" id="purpose">
        <h2>目的から探す</h2>
        <ul class="post__box">
        <% @purposes.each do |purpose| %>
          <%= link_to purpose_path(purpose.id) do %>
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag purpose.image.url %>
                </div>
                <div class="post__cp">
                  <h3><%= purpose.name %></h3>
                  <p></p>
                </div>
              </div>
            </li>
          <%end%>
        <% end %>
        </ul>
      </div>
      <%= render 'layouts/content_box' %>
      <div class="shop__list pick-up" id="">
        <h2>グルメの一覧から探す</h2>
        <p></p>
        <%= render 'layouts/move_btn' %>
        <ul class="shop__box" id="js-shop-li">
        <% @shops.each do |shop| %>
          <%= link_to shop_path(shop.id) do %>
            <li>
              <div class="shop__wrapper">
                <div class="shop__img">
                  <% if shop.images.first.present? %>
                    <%= image_tag shop.images.first.image.url %>
                  <% else %>
                    <%= image_tag "wait.jpeg" %>
                  <% end %>
                </div>
                <div class="shop__info">
                  <div class="shop__info__deco">
                    <div class="shop__review">
                      <i class="fas fa-star"></i>
                      <span><%= shop.reviews.average(:score) %></span>
                    </div>
                    <div class="shop__tag">
                      <i class="fas fa-tag"></i>
                      <span><%= shop.categories.first.name %></span>
                    </div>
                  </div>
                  <div class="shop__info__basic">
                    <div class="shop__name">
                      <h3><%= shop.name %></h3>
                    </div>
                    <div class="shop__about">
                      <div class="shop__place">
                        <div class="address">
                          <span><%= shop.address %></span>
                        </div>
                      </div>
                    </div>
                    <div class="shop__budget">
                      <i class="fas fa-yen-sign"></i>
                      <span><%= shop.budget %></span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
        </ul>
        <div class="detail__btn shop__more">
          <%= link_to shops_path(detail: 'shop'), class:"detail" do %>
            <span>すべて表示<i></i></span>
          <% end %>
        </div>
      </div>
      <div class="content__list common" id="area">
        <h2>から探す</h2>
        <p></p>
        <%= render 'layouts/move_btn' %>
        <ul class="post__box">
          <%= link_to root_path do %>
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag "/assets/instagram1.jpeg" %>
                </div>
                <div class="post__cp">
                  <h3><%= %></h3>
                  <p></p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="detail__btn shop__more">
          <%= link_to root_path, class:"detail" do %>
            <span>すべて表示<i></i></span>
          <% end %>
        </div>
      </div>
      <div class="content__list common" id="special">
        <h2>特集</h2>
        <p>ガイドブックならではの特集を皆様にお届けします！</p>
        <%= render 'layouts/move_btn' %>
        <ul class="post__box">
          <a href="">
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag "" %>
                </div>
                <div class="post__cp">
                  <h3>冬の代名詞</h3>
                </div>
              </div>
            </li>
          </a>
          <a href="">
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag "" %>
                </div>
                <div class="post__cp">
                  <h3>最近キテるラーメン屋さん特集</h3>
                </div>
              </div>
            </li>
          </a>
        </ul>
        <div class="detail__btn shop__more">
          <%= link_to root_path, class:"detail" do %>
            <span>すべて表示<i></i></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>