<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/homes/index', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/home/tablet/index_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/home/pc/index_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<body>
  <%= render 'layouts/header' %>
  <div class="main__wrapper" id="top__face">
    <div class="main__view">
      <div class="searchbox__wrapper">
        <form id="search-form" action="" method="post">
          <div class="input__area">
            <input id="" type="search" name="search" placeholder="キーワード">
            <button type="submit" form="search-form" name="">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="main__view__img">
        <div class="bg__img index">
          <div class="main__view__cp">
            <h1>身近にある、素敵なひととき</h1>
            <p>近場で新しい体験を探してみましょう！</p>
          </div>
          <div class="place__btn">
            <a href="#">
              <span>現在地から探す</span> 
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="main__content">
      <div class="content__list common" id="b-type">
        <h1>目的から探す</h1>
        <%= render 'layouts/move_btn' %>
        <ul class="post__box">
        <% @b_types.each do |b_type| %>
          <%= link_to bussiness_type_path(b_type.id) do %>
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag b_type.image.url %>
                </div>
                <div class="post__cp">
                  <h2><%= b_type.name %></h2>
                  <p></p>
                </div>
              </div>
            </li>
          <%end%>
        <% end %>
        </ul>
      </div>
      <div class="content__list common" id="">
        <h1>から探す</h1>
        <p></p>
        <%= render 'layouts/move_btn' %>
        <ul class="post__box">
          <%= link_to root_path do %>
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag "/assets/instagram1.jpeg" %>
                </div>
                <div class="post__cp">
                  <h2><%= %></h2>
                  <p></p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="detail__btn shop__more">
          <%= link_to root_path, class:"detail" do %>
            <span>すべて表示<i></i></span>
          <% end %>
        </div>
      </div>
      <div class="content__list common" id="special">
        <h1>特集</h1>
        <p>ガイドブックならではの特集を皆様にお届けします！</p>
        <%= render 'layouts/move_btn' %>
        <ul class="post__box">
          <a href="">
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag "christmas-market.jpeg" %>
                </div>
                <div class="post__cp">
                  <h2>冬の代名詞</h2>
                </div>
              </div>
            </li>
          </a>
          <a href="">
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag "ramen.jpeg" %>
                </div>
                <div class="post__cp">
                  <h2>最近キテるラーメン屋さん特集</h2>
                </div>
              </div>
            </li>
          </a>
        </ul>
        <div class="detail__btn shop__more">
          <%= link_to root_path, class:"detail" do %>
            <span>すべて表示<i></i></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>