<%# 検索結果のページ&ビジネスタイプ>カテゴリのページ %>
<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/areas/search-area', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/areas/tablet/search-area_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/areas/pc/search-area_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<%= render 'layouts/header' %>
  <div class="wrapper">
    <div class="main__wrapper search_pc">
      <div class="ggrmap__wrapper">
        <div class="ggrmap">
          <form id="search-form" action="" method="post">
            <div class="input__area">
              <input id="" type="search" name="search" placeholder="キーワード">
              <button type="submit" form="search-form" name="">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="result__wrapper">
        <div class="result__group">
          <div class="result--icon">
            <i class="fas fa-angle-down"></i>
          </div>
          <div class="result__export">
            <p><%= @shops.count %>件の検索結果</p>
          </div>
          <div class="post__list result-top" id="">
            <h1>Caming soon</h1>
            <p></p>
            <div class="move__btn">
              <div class="btn--left">
                <a href="">
                  <i class="fas fa-chevron-left"></i>
                </a>
              </div>
              <div class="btn--right">
                <a href="">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
            <ul class="post__box">
            <% @shops.each do |shop| %>
              <%= link_to shop_path(shop) do %>
                <li>
                  <div class="post__wrapper">
                    <div class="post__img">
                    <% if shop.image? %>
                      <%= image_tag shop.image.url %>
                    <% else %>
                      <%= image_tag "hotel2_view.jpeg" %>
                    <% end %>
                    </div>
                    <div class="post__info">
                      <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                      <div class="post__info__basic">
                        <div class="post__name">
                          <h2><%= shop.name %></h2>
                        </div>
                        <div class="post__about">
                          <div class="post__place">
                            <div class="address">
                              <span><%= shop.address %></span>
                            </div>
                          </div>
                        </div>
                        <div class="post__budget">
                          <i class="fas fa-yen-sign"></i>
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
            </ul>
            <div class="detail__btn">
              <a href="" class="detail">
                <span>すべて表示<i></i></span>
              </a>
            </div>
          </div>
          <div class="other__list category" id="">
            <h1>目的から探す</h1>
            <p></p>
            <div class="move__btn">
              <div class="btn--left">
                <a href="">
                  <i class="fas fa-chevron-left"></i>
                </a>
              </div>
              <div class="btn--right">
                <a href="">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
            <ul class="content__box">
            <% @b_types.each do |b_type| %>
              <%= link_to bussiness_type_path(b_type.id) do %>
                <li>
                  <div class="content__wrapper">
                    <div class="content__img">
                      <%= image_tag b_type.image.url %>
                    </div>
                    <div class="content__cp">
                      <h2><%= b_type.name %></h2>
                      <p></p>
                    </div>
                  </div>
                </li>
              <%end%>
            <% end %>
            </ul>
            <div class="detail__btn">
              <a href="" class="detail">
                <span>すべて表示<i></i></span>
              </a>
            </div>
          </div>
          <div class="other__list" id="">
            <h1>Caming soon</h1>
            <p></p>
            <div class="move__btn">
              <div class="btn--left">
                <a href="">
                  <i class="fas fa-chevron-left"></i>
                </a>
              </div>
              <div class="btn--right">
                <a href="">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
            <ul class="post__box">
              <a href="">
                <li>
                  <div class="post__wrapper">
                    <div class="post__img">
                      <%= image_tag "" %>
                    </div>
                    <div class="post__info">
                      <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                      <div class="post__info__basic">
                        <div class="post__name">
                          <h2></h2>
                        </div>
                        <div class="post__about">
                          <div class="post__place">
                            <div class="address">
                              <span></span>
                            </div>
                          </div>
                        </div>
                        <div class="post__budget">
                          <i class="fas fa-yen-sign"></i>
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </a>
              <a href="">
                <li>
                  <div class="post__wrapper">
                    <div class="post__img">
                      <%= image_tag "" %>
                    </div>
                    <div class="post__info">
                      <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                      <div class="post__info__basic">
                        <div class="post__name">
                          <h2></h2>
                        </div>
                        <div class="post__about">
                          <div class="post__place">
                            <div class="address">
                              <span></span>
                            </div>
                          </div>
                        </div>
                        <div class="post__budget">
                          <i class="fas fa-yen-sign"></i>
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </a>
            </ul>
            <div class="detail__btn">
              <a href="" class="detail">
                <span>すべて表示<i></i></span>
              </a>
            </div>
          </div>
          <div class="post__list result-all" id="">
            <h1>Caming soon</h1>
            <p></p>
            <div class="move__btn">
              <div class="btn--left">
                <a href="">
                  <i class="fas fa-chevron-left"></i>
                </a>
              </div>
              <div class="btn--right">
                <a href="">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
            <ul class="post__box">
              <a href="">
                <li>
                  <div class="post__wrapper">
                    <div class="post__img">
                      <%= image_tag "hotel1_view.jpeg" %>
                    </div>
                    <div class="post__info">
                      <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                      <div class="post__info__basic">
                        <div class="post__name">
                          <h2>London-Winchester</h2>
                        </div>
                        <div class="post__about">
                          <div class="post__place">
                            <div class="address">
                              <span></span>
                            </div>
                          </div>
                        </div>
                        <div class="post__budget">
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </a>
              <a href="">
                <li>
                  <div class="post__wrapper">
                    <div class="post__img">
                      <%= image_tag "" %>
                    </div>
                    <div class="post__info">
                      <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                      <div class="post__info__basic">
                        <div class="post__name">
                          <h2></h2>
                        </div>
                        <div class="post__about">
                          <div class="post__place">
                            <div class="address">
                              <span></span>
                            </div>
                          </div>
                        </div>
                        <div class="post__budget">
                          <i class="fas fa-yen-sign"></i>
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </a>
              <a href="">
                <li>
                  <div class="post__wrapper">
                    <div class="post__img">
                      <%= image_tag "" %>
                    </div>
                    <div class="post__info">
                      <div class="post__info__deco">
                        <div class="post__review">
                          <i class="fas fa-star"></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                        <div class="post__tag">
                          <i class=""></i>
                          <span></span>
                        </div>
                      </div>
                      <div class="post__info__basic">
                        <div class="post__name">
                          <h2></h2>
                        </div>
                        <div class="post__about">
                          <div class="post__place">
                            <div class="address">
                              <span></span>
                            </div>
                          </div>
                        </div>
                        <div class="post__budget">
                          <i class="fas fa-yen-sign"></i>
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </a>
            </ul>
            <div class="detail__btn">
              <a href="" class="detail">
                <span>すべて表示<i></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render 'layouts/footer' %>