<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/dashboards/show', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/dashboards/tablet/show_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/dashboards/pc/show_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<% provide(:ttl, "ダッシュボード")%>
<% provide(:page_hd, "ダッシュボード")%>

<%= render 'layouts/owner_header' %>
<div class="main__wrapper dashboard">
  <div class="dashboard__wrapper">
    <div class="side__container">
      <div class="side__bar__logo">
        <%= link_to dashboards_path(@owner) do %>
          <div class="app__logo">
            <img src="/assets/widebook_logo.png" alt="">
          </div>
          <div class="app__name">
            <p>Wide</p>
          </div>
        <% end %>
      </div>
      <div class="side__bar__user__info">
        <%= link_to owner_path(@owner) do %>
          <div class="profile__icon">
            <% if @owner.image? %>
            <%= image_tag @owner.image.url, class: "" %>
            <% else %>
            <%= image_tag "/assets/user_icon.jpeg", class: "" %>
            <% end %>
          </div>
          <div class="profile__info">
            <div class="user__name">
              <p><%= @owner.name %></p>
            </div>
          </div>
        <% end %>
      </div>
      <nav class="side__menu">
        <a href="" class="nav__title">
          <i class="fas fa-chart-line"></i>
          <span>集客</span>
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="">
          <li>
            <%= link_to "", data: { impression: "0"} do %>
              <div class="nav__link">
                <div class="nav__icon">
                  <i class="fas fa-calendar-day"></i>
                </div>
                <div class="nav__name">
                  <p>一日ごとのデータ</p>
                </div>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to "", data: { impression: "1"} do %>
              <div class="nav__link">
                <div class="nav__icon">
                  <i class="fas fa-calendar-week"></i>
                </div>
                <div class="nav__name">
                  <p>一週間ごとのデータ</p>
                </div>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to "", data: { impression: "2"} do %>
              <div class="nav__link">
                <div class="nav__icon">
                  <i class="fas fa-calendar-alt"></i>
                </div>
                <div class="nav__name">
                  <p>1ヶ月ごとのデータ</p>
                </div>
              </div>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main__container">
      <div class="main__hd">
        <div class="page__title">
          <h3><%= yield(:page_hd) %></h3>
        </div>
        <div class="chart__summary">
          <% @shops.each do |shop| %>
          <div class="info">
            <p class="user__count">Total Users</p>
            <label class=""><%= shop.name %></label>
            <p class="pv__sum"><%= shop.impressionist_count %></p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="chart__wrapper">
        <div class="chart">
          <div class="impression__chart" data-pv-graph="0">
            <%= line_chart @data, height: "450px", colors: ["#E9A368", "#5A734F"], xtitle: "日付", ytitle: "PV数", messages: {empty: "まだお店が登録されていません。"} %>
          </div>
          <div class="impression__chart" data-pv-graph="1">
            <%= line_chart @data_week, height: "450px", colors: ["#E9A368", "#5A734F"], xtitle: "日付", ytitle: "PV数", messages: {empty: "まだお店が登録されていません。"} %>
          </div>
          <div class="impression__chart" data-pv-graph="2">
            <%= line_chart @data_month, height: "450px", colors: ["#E9A368", "#5A734F"], xtitle: "日付", ytitle: "PV数", messages: {empty: "まだお店が登録されていません。"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
