<% content_for(:pg_hd, "カテゴリー一覧")%>

<%= render 'layouts/header' %>
<div class="main__wrapper">
  <div class="brand__wrapper">
    <div class="page__hd">
      <h2><%= yield(:pg_hd) %></h2>
    </div>
    <div class="panel__container">
      <ul class="panel__box">
      <% @categories.each do |category| %>
        <%= link_to category_path(category.id) do %>
          <li>
            <div class="panel__wrapper">
              <div class="panel__img">
                <%= image_tag category.image.url %>
                <div class="panel__cp">
                  <h3><%= category.name %></h3>
                </div>
              </div>
            </div>
          </li>
        <%end%>
      <%end%>
      </ul>
      <div class="detail__btn result__more">
        <%= paginate @categories %>
      </div>
      <div class="more__btn">
        <button id="js-more-btn">もっと見る</button>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>