<%# 検索結果のページ&ビジネスタイプ>カテゴリのページ %>
<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/searchs/index', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/searchs/tablet/index_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/searchs/pc/index_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<% provide(:text, "その他のカテゴリから探す")%>

<%= render 'layouts/header' %>
<div class="wrapper">
  <div class="main__wrapper search_pc">
    <div class="ggrmap__back">
      <div class="ggrmap">
        <form id="search-form" action="" method="post">
          <div class="input__area">
            <input id="" type="search" name="search" placeholder="キーワード">
            <button type="submit" form="search-form" name="">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="result__wrapper">
      <div class="result__group">
        <div class="result--icon">
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="result__export">
          <p><%= @results.all.count %>件の検索結果</p>
        </div>
        <div class="post__list result-top" id="">
          <h1></h1>
          <p></p>
          <%= render 'layouts/move_btn' %>
          <%# 以下は後ほど、shop_listにまとめてrenderする。 %>
          <ul class="shop__box">
          <% @results.each do |result| %>
            <%= link_to shop_path(result) do %>
              <li>
                <div class="shop__wrapper">
                  <div class="shop__img">
                  <% if result.images.first.present? %>
                    <%= image_tag result.images.first.image.url %>
                  <% else %>
                    <%= image_tag "wait.jpeg" %>
                  <% end %>
                  </div>
                  <div class="shop__info">
                    <div class="shop__info__deco">
                      <div class="shop__review">
                        <i class="fas fa-star"></i>
                        <span><%= result.reviews.average(:score) %></span>
                      </div>
                      <div class="shop__tag">
                        <i class="fas fa-tag"></i>
                        <span><%= result.categories.first.name %></span>
                      </div>
                    </div>
                    <div class="shop__info__basic">
                      <div class="shop__name">
                        <h2><%= result.name %></h2>
                      </div>
                      <div class="shop__about">
                        <div class="shop__place">
                          <div class="address">
                            <span><%= result.address %></span>
                          </div>
                        </div>
                      </div>
                      <div class="shop__budget">
                        <i class="fas fa-yen-sign"></i>
                        <span><%= result.budget %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
          </ul>
          <div class="detail__btn result__more">
            <%= paginate @results %>
          </div>
        </div>
        <div class="other__list" id="">
          <h1></h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>