<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/images/show', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/images/tablet/show_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/images/pc/show_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<%= render 'layouts/header' %>
<div class="main__wrapper">
  <div class="img__tank">
    <%= render 'layouts/move_btn' %>
    <ul>
      <% @images.each do |img| %>
      <li>
        <div class="img__wrapper">
          <%= image_tag img.image.url%>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render 'layouts/footer' %>