<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/layouts/header', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/layouts/tablet/header_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/layouts/pc/header_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<%# mobile用のfooter %>
<%# <footer>
  <div class="ft__wrapper">
    <div class="ft__nav">
      <ul>
        <li>
          <div class="ft__btn__wrapper">
            <a href="">
              <div class="nav__btn">
                <i class="fas fa-search"></i>
                <p>探す</p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__btn__wrapper">
            <a href="">
              <div class="nav__btn">
                <i class="far fa-heart"></i>
                <p>お気に入り</p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__btn__wrapper">
            <a href="">
              <div class="nav__btn">
                <i class="fas fa-book-open"></i>
                <p>一覧</p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__btn__wrapper">
            <a href="">
              <div class="nav__btn">
                <i></i>
                <p></p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__btn__wrapper">
            <a href="">
              <div class="nav__btn">
                <i class="fas fa-user"></i>
                <p>プロフィール</p>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer> %>

<%# pc版のfooter %>
<footer>
  <div class="ft__wrapper">
    <div class="ft__nav">
      <ul class="nav__list">
        <li>
          <div class="ft__nav__how nav__link">
            <%= link_to help_path do %>
              <div class="app__info">
                <p>ヘルプ</p>
              </div>
            <% end %>
          </div>
        </li>
        <li>
          <div class="ft__nav__rule nav__link">
            <%= link_to rule_path do %>
              <div class="rule">
                <p>利用規約</p>
              </div>
            <% end %>
          </div>
        </li>
        <li>
          <div class="ft__nav__privacy nav__link">
            <%= link_to privacy_path do %>
              <div class="privacy">
                <p>プライバシー・ポリシー</p>
              </div>
            <% end %>
          </div>
        </li>
        <li>
          <div class="ft__nav__query nav__link">
            <%= link_to root_path do %>
              <div class="query">
                <p>お問い合わせ</p>
              </div>
            <% end %>
          </div>
        </li>
        <li>
          <div class="ft__nav__query nav__link">
            <%= link_to payments_path do %>
              <div class="payment_method">
                <p>有料会員</p>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
      <div class="copy__write">
        <p>2020 nil inc ©️</p>
      </div>
    </div>
  </div>
</footer>