<%# トプページのheader %>
<header>
  <div class="hd__wrapper">
    <div class="hd__logo">
      <a href="/">
        <%= image_tag "apple_logo.jpeg" %>
      </a>
    </div>
    <div class="hd__search__box">
      <%= form_with(scope: :search, url: searchs_path, class: "search__form", method: "get", local: true) do |f| %>
        <%= f.text_field :name, placeholder: "エリア・駅", class: "area__form" %>
        <%= f.collection_select :id, BussinessType.all, :id, :name, { include_hidden: false, include_blank: "選択してください", class: "b-type__form" } %>
        <%= f.text_field :name, value: params[:name], placeholder: "キーワード", class: "keyword__form" %>
        <%= f.date_field :date, class: "date__form" %>
        <button>
          <i class="fas fa-search">
            <%= f.submit "", class: "btn" %>
          </i>
        </button>
      <% end %>
    </div>
    <div class="hd__nav">
      <ul>
        <li>
          <a href="">
            <i class="fas fa-bars"></i>
          </a>
        </li>
        <li>
        <% if logged_in? %>
          <%= link_to user_path(current_user.id) do %>
            <i class="fas fa-user-alt"></i>
          <%end%>
        <% else %>
          <%= link_to signup_path do %>
            <i class="fas fa-user-alt"></i>
          <%end%>
        <%end%>
        </li>
      </ul>
    </div class="hd__nav">
  </div>
</header>

<%# カテゴリで検索している時のheader
<header>
  <div class="hd__wrapper">
    <div class="back__icon">
      <a href="">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <div class="search__box">
      <form action="" method="post">
        <input type="search" placeholder="キーワード">
      </form>
    </div>
    <div class="filter__btn">
      <div></div>
    </div>
  </div>
</header>

お店の詳細ページでのheader
<header>
  <div class="hd__wrapper">
    <div class="back__btn">
      <a href="">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <div class="event__btn">
      <div class="shere__btn">
        <a href="">
          <i class="fas fa-upload"></i>
        </a>
      </div>
      <div class="like__btn">
        <a href="">
          <i class="far fa-heart"></i>
          <i class="fas fa-heart"></i>
        </a>
      </div>
    </div>
  </div>
</header> %>