<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/layouts/header', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/layouts/tablet/header_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/layouts/pc/header_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<%# トップページのheader %>
<header>
  <div class="hd__wrapper" id="js-head">
    <div class="hd__logo">
      <a href="/">
        <%= image_tag "widebook_logo.png" %>
      </a>
    </div>
    <div class="hd__search__box">
      <%= form_with(scope: :search, url: searchs_path, class: "", id: "js-form", method: "get", local: true) do |f| %>
      <div class="search__form">
        <%= f.text_field :mame, placeholder: "エリア・駅", class: "area__form" %>
        <%= f.collection_select :id, Purpose.all, :id, :name, { include_hidden: false, include_blank: "選択してください", class: "b-type__form" } %>
        <%= f.text_field :name, value: params[:name], placeholder: "キーワード", class: "keyword__form" %>
        <%= f.date_field :calendar, class: "date__form"%>
      </div>
      <div class="search__btn">
        <button>
          <i class="fas fa-search">
            <%= f.submit "", class: "btn" %>
          </i>
        </button>
      </div>
      <% end %>
    </div>
    <div class="hd__nav">
      <input id="menu" type="checkbox">
      <label for="menu" class="open">
        <i class="fas fa-bars"></i>
      </label>
      <label for="menu" class="back"></label>

      <input id="bar_menu" type="checkbox">
      <label for="bar_menu" class="bar__open">
        <i class="fas fa-bars"></i>
      </label>
      <label for="bar_menu" class="bar__back"></label>

      <nav class="mobile__nav">
        <label for="menu" class="close">
          <i class="fas fa-times"></i>
        </label>
        <% if current_user.nil? %>
        <ul class="account__nav">
          <li>
            <div class="hd__user__info">
              <div class="profile__icon">
                <%= image_tag "/assets/user_icon.jpeg", class: "", id: "" %>
              </div>
              <div class="profile__info">
                <div class="name">
                  <p>Unknown</p>
                </div>
                <div class="email">
                  <span></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="pub__nav">
          <li>
            <%= link_to login_path do %>
              <div class="nav__pic">
                <i class="fas fa-sign-in-alt"></i>
              </div>
              <div class="nav__link">
                <p>ログイン</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to signup_path do %>
              <div class="nav__pic">
                <i class="far fa-address-card"></i>
              </div>
              <div class="nav__link">
                <p>登録する</p>
              </div>
            <% end %>
          </li>
        </ul>
        <ul class="sub__nav">
          <li>
            <%= link_to help_path do %>
              <div class="nav__pic">
                <i class="fas fa-info"></i>
              </div>
              <div class="nav__link">
                <p>ヘルプ</p>
              </div>
            <% end %>
          </li>
        </ul>
        <% else %>
        <ul class="account__nav">
          <li>
            <div class="hd__user__info">
              <div class="profile__icon">
                <% if @user.image? %>
                <%= image_tag @user.image.url, class: "", id: "" %>
                <% else %>
                <%= image_tag "/assets/user_icon.jpeg", class: "", id: "" %>
                <% end %>
              </div>
              <div class="profile__info">
                <div class="name">
                  <p><%= @user.name %></p>
                </div>
                <div class="email">
                  <span><%= @user.email %></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="pub__nav">
          <li>
            <%= link_to root_path do %>
              <div class="nav__pic">
                <i class="fas fa-home"></i>
              </div>
              <div class="nav__link">
                <p>トップに戻る</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user.id) do %>
              <div class="nav__pic">
                <i class="fas fa-user"></i>
              </div>
              <div class="nav__link">
                <p>マイページ</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to user_bookmarks_path(current_user.id) do %>
              <div class="nav__pic">
                <i class="far fa-heart"></i>
              </div>
              <div class="nav__link">
                <p>お気に入り</p>
              </div>
            <% end %>
          </li>
        </ul>
        <ul class="sub__nav">
          <li>
            <%= link_to logout_path, method: :delete do %>
              <div class="nav__pic">
                <i class="fas fa-sign-out-alt"></i>
              </div>
              <div class="nav__link">
                <p>ログアウト</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to help_path do %>
              <div class="nav__pic">
                <i class="fas fa-info"></i>
              </div>
              <div class="nav__link">
                <p>ヘルプ</p>
              </div>
            <% end %>
          </li>
        </ul>
        <% end %>
      </nav>

      <nav class="pc__nav--bar">
        <label for="bar_menu" class="bar__close">
          <i class="fas fa-times"></i>
        </label>
        <% if current_user.nil? %>
        <ul class="account__nav">
          <li>
            <div class="hd__user__info">
              <div class="profile__icon">
                <%= image_tag "/assets/user_icon.jpeg", class: "", id: "" %>
              </div>
              <div class="profile__info">
                <div class="name">
                  <p>Unknown</p>
                </div>
                <div class="email">
                  <span></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="pub__nav">
          <li>
            <%= link_to login_path do %>
              <div class="nav__link">
                <p>ログイン</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to signup_path do %>
              <div class="nav__link">
                <p>登録する</p>
              </div>
            <% end %>
          </li>
        </ul>
        <ul class="sub__nav">
          <li>
            <%= link_to help_path do %>
              <div class="nav__link">
                <p>ヘルプ</p>
              </div>
            <% end %>
          </li>
        </ul>
        <% else %>
        <ul class="account__nav">
          <li>
            <div class="hd__user__info">
              <div class="profile__icon">
                <% if @user.image? %>
                <%= image_tag @user.image.url, class: "", id: "" %>
                <% else %>
                <%= image_tag "/assets/user_icon.jpeg", class: "", id: "" %>
                <% end %>
              </div>
              <div class="profile__info">
                <div class="name">
                  <p><%= @user.name %></p>
                </div>
                <div class="email">
                  <span><%= @user.email %></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="pub__nav">
          <li>
            <%= link_to root_path do %>
              <div class="nav__link">
                <p>トップに戻る</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user.id) do %>
              <div class="nav__link">
                <p>マイページ</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to user_bookmarks_path(user_id: current_user.id) do %>
              <div class="nav__link">
                <p>お気に入りのお店</p>
              </div>
            <% end %>
          </li>
        </ul>
        <ul class="sub__nav">
          <li>
            <%= link_to logout_path, method: :delete do %>
              <div class="nav__link">
                <p>ログアウト</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to help_path do %>
              <div class="nav__link">
                <p>ヘルプ</p>
              </div>
            <% end %>
          </li>
        </ul>
        <% end %>
      </nav>
    </div>
  </div>
</header>

<%# カテゴリで検索している時のheader
<header>
  <div class="hd__wrapper">
    <div class="back__icon">
      <a href="">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <div class="search__box">
      <form action="" method="post">
        <input type="search" placeholder="キーワード">
      </form>
    </div>
    <div class="filter__btn">
      <div></div>
    </div>
  </div>
</header>

お店の詳細ページでのheader
<header>
  <div class="hd__wrapper">
    <div class="back__btn">
      <a href="">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <div class="event__btn">
      <div class="shere__btn">
        <a href="">
          <i class="fas fa-upload"></i>
        </a>
      </div>
      <div class="like__btn">
        <a href="">
          <i class="far fa-heart"></i>
          <i class="fas fa-heart"></i>
        </a>
      </div>
    </div>
  </div>
</header> %>