<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/layouts/header', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/layouts/tablet/header_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/layouts/pc/header_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<%# ownerページ用のheader %>
<header>
  <div class="hd__wrapper">
    <div class="hd__left">
      <%# <div class="main__menu">
        <i class="fas fa-ellipsis-v"></i>
      </div> %>
      <div class="home__btn">
        <%= link_to dashboards_path(@owner) do %>
          <span>Home</span>
        <% end %>
      </div>
    </div>
    <div class="hd__nav">
      <div class="nav__back"></div>
      <div class="nav--bar" data-trg="0">
        <i class="fas fa-bars"></i>
      </div>
      <nav class="user__nav" data-nav="0">
        <div class="bar__close">
          <i class="fas fa-times js-nav-close"></i>
        </div>
        <ul class="account__nav">
          <li>
            <div class="hd__user__info">
              <div class="profile__icon">
                <% if @owner.image? %>
                <%= image_tag @owner.image.url, class: "", id: "" %>
                <% else %>
                <%= image_tag "/assets/user_icon.jpeg", class: "", id: "" %>
                <% end %>
              </div>
              <div class="profile__info">
                <div class="name">
                  <p><%= @owner.name %></p>
                </div>
                <div class="email">
                  <span><%= @owner.email %></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="pub__nav">
          <li>
            <%= link_to dashboards_path(@owner) do %>
              <div class="nav__link">
                <p>ダッシュボードに戻る</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to owner_path(@owner) do %>
              <div class="nav__link">
                <p>マイページ</p>
              </div>
            <% end %>
          </li>
        </ul>
        <ul class="sub__nav">
          <li>
            <%= link_to owner_logout_path, method: :delete do %>
              <div class="nav__link">
                <p>ログアウト</p>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to help_path do %>
              <div class="nav__link">
                <p>ヘルプ</p>
              </div>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>