<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/layouts/form' %>
<% end %>

<%= form_with model: @owner, url: yield(:url), class: "", id: "", local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="input__ttl">
    <i class="fas fa-asterisk"></i>
    <%= f.label :name, "Name"%>
  </div>
  <div class="input__field">
    <%= f.text_field :name, id: "", placeholder: "お名前"%>
  </div>
  <div class="input__ttl">
    <i class="fas fa-asterisk"></i>
    <%= f.label :email, "Email" %>
  </div>
  <div class="input__field">
    <%= f.email_field :email, id: "", placeholder: "メールアドレス"%>
  </div>
  <div class="input__ttl">
    <i class="fas fa-asterisk"></i>
    <%= f.label :phone_number, "Phone" %>
  </div>
  <div class="input__field">
    <%= f.text_field :phone_number, id: "", placeholder: "電話番号"%>
  </div>
  <div class="input__ttl">
    <i class="fas fa-asterisk"></i>
    <%= f.label :password, "Password" %>
  </div>
  <div class="input__field">
    <%= f.password_field :password, id: "", placeholder: "パスワード" %>
  </div>

  <div class="input__field">
    <%= f.submit :submit, class: "submit", id: "", value: "#{yield(:btn_text)}" %>
  </div>
<% end %>