<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:ttl) ? yield(:ttl) + " | Wide" : "Wide"%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= include_gon %>
    <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <script src="../../"></script> %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <%= yield :css %>
    <%= favicon_link_tag('widebook_logo.png') %>
  </head>

  <body>
    <div class="wrapper">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}")%>
      <% end %>
      <%= render 'layouts/loading' %>
      <%= yield %>
    </div>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>" ></script>
  </body>
</html>
