<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Widebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :css %>
  </head>

  <body>
    <div class="wrapper">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}")%>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
